*
  box-sizing border-box

body
  font-family 'Roboto', 'Droid Sans', sans-serif
  font-size 16px
  margin 0
  padding .5rem
  position relative

body, html
  height 100%
  width 100%

footer
  background rgb(64,135,224)
  border-radius .5rem .5rem 0 0
  bottom 0
  color rgb(240,240,240)
  left 0
  height 2.5rem
  position fixed
  width 100%
  h2
    letter-spacing .15rem
    line-height 2.5rem
    font-size 1.15rem
    margin 0 auto
    text-align center
    text-transform uppercase

header
  background url('../img/logo.png'), rgb(64,135,224)
  background-repeat no-repeat, repeat
  background-position 1rem
  background-size auto 65%
  border-radius 0 0 .5rem .5rem
  height 4em
  letter-spacing .05em
  left 0
  position fixed
  top 0
  width 100%
  nav
    color rgb(240,240,240)
    display inline-block
    font-weight bold
    line-height 4rem
    text-transform uppercase
    ul
      margin 0
      padding 0
      list-style-type none
    li
      display inline-block
      margin 0
      padding 0
      a
        color rgb(240,240,240)
        padding .5rem .7rem
        text-decoration none
        &:hover
          background rgb(31,66,110)

.activo
  background rgb(41,86,143)

.info
  height 100%
  padding 3.5rem 0 2rem 0
  width 100%

.menu
  margin 0 0 0 10rem

.submenu
  float right
  padding 0 2rem 0 0


