doctype html
html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='css/animate.min.css', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/main.css', type='text/css')
    script(src='js/jquery.min.js')
  body
    header
      nav.menu
        ul
          li
            a#visitas.activo(href='#') visitas
          li
            a#agentes(href='#') agentes
          li
            a#mapas(href='#') mapas
      //-
        nav class='submenu'>
              <ul>
                <li id='actividades'><a href='#'>D</a></li>
                <li id='configuracion'><a href='#'>G</a></li>
                <li id='sesion'><a href='#'>usuario</a></li>
              </ul>
            </nav
    section.info
    footer
      h2 ¿necesitas ayuda?

